section#post {
  background-color: #F2D9FF;
}

section#post article {
  background: #333;
  color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 8px 1px #000;
  transition: 0.2s ease-in-out;
}

section#post article:hover {
  box-shadow: 2px 2px 8px 2px #000;
}

@media (max-width: 2560px) {
section#post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

section#post article{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  padding-top: 1%;
}

section#post article .titles {
  display: flex;
  flex-direction: column;
}

section#post article .img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section#post article strong {
  font-size: 3.2em;
  padding-bottom: 2.5%;
}

section#post article span {
  font-size: 1.2em;
  padding-bottom: 8%;
}

section#post article .img p {
  margin-bottom: 3%;
  font-size: 1.2em;
}

section#post article .img img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  padding-bottom: 8%;
}
}




@media (max-width: 1024px) {
section#post {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

section#post article{
display: flex;
flex-direction: column;
margin-top: 5%;
margin-bottom: 5%;
padding-top: 3%;
}

section#post article .titles {
display: flex;
flex-direction: column;
}

section#post article .img {
display: flex;
flex-direction: column;
align-items: flex-start;
}

section#post article strong {
font-size: 2.8em;
padding-bottom: 5%;
}

section#post article span {
font-size: 1.05em;
padding-bottom: 10%;
}

section#post article .img p {
margin-bottom: 3%;
font-size: 1.28em;
}

section#post article .img img {
width: 400px;
height: 400px;
padding-bottom: 8%;
}
}

@media (max-width: 768px) {
section#post article{
display: flex;
flex-direction: column;
margin-top: 5%;
margin-bottom: 5%;
padding-top: 3%;
}

section#post article .titles {
display: flex;
flex-direction: column;
}

section#post article .img {
display: flex;
flex-direction: column;
}

section#post article strong {
font-size: 2.3em;
padding-bottom: 5%;
}

section#post article span {
font-size: 1em;
padding-bottom: 10%;
}

section#post article .img p {
margin-bottom: 3%;
font-size: 1.2em;
}

section#post article .img img {
border-radius: 10%;
padding-bottom: 8%;
}
}


@media (max-width: 425px) {
section#post article{
display: flex;
flex-direction: column;
margin-top: 5%;
margin-bottom: 5%;
padding-top: 3%;
}

section#post article .titles {
display: flex;
flex-direction: column;
}

section#post article .img {
display: flex;
flex-direction: column;
}

section#post article strong {
font-size: 1.5em;
padding-bottom: 5%;
}

section#post article span {
font-size: 0.9em;
padding-bottom: 10%;
}

section#post article .img p {
margin-bottom: 3%;
font-size: 1em;
}

section#post article .img img {
width: 260px;
height: 260px;
margin-bottom: 10%;
margin-top: 12%;
}
}
