.cabecalho {
    background: #8247A1;
}

@media screen and (max-width: 2560px) {
.menu {
margin-left: 15%;
}

.item {
font-size: 1.65em;
margin-right: 20px;
font-weight: 500;
border-bottom: 2px solid transparent;
transition: all 0.2s ease-in-out;
}
.item:hover {
opacity: 0.6;
}

.logo {
width: 110px;
}

.buttons button{
font-size: 1.4em;
transition: all 0.4s ease-in-out;
}

.buttons button:hover {
font-size: 1.45em;
}
}

@media screen and (max-width: 1440px) {
.menu {
margin-left: 7%;
}
.item {
font-size: 1.48em;
margin-right: 20px;
transition: all 0.7s ease-in-out;
}
.item:hover {
opacity: 0.6;
}

.logo {
width: 105px;
}

.buttons button{
font-size: 1.3em;
transition: all 0.4s ease-in-out;
}

.buttons button:hover {
font-size: 1.35em;
}

}

@media screen and (max-width: 1024px) {
.menu {
    margin-left: -7%;
}

.item {
    font-size: 1.1em;
    margin-right: 6px;
}
.title {
    font-size: 1.8em;
    margin-left: -20%;
}
.logo {
    width: 90px;
    margin-left: -55%;
}
.buttons {
    margin-right: -3%;
}
.buttons button {
    font-size: 1.1em;
}
}


@media screen and (max-width: 768px) {
.menu {
    padding-top: 8%;
}
.title {
    font-size: 2.7em;
    font-weight: 700;
}
.logo {
    width: 100px;
}

.item {
    width: 80%;
    font-size: 2em;
    margin-top: 8px;
    background-color: #222;
    box-shadow: 2px 2px 6px -1px #000;
    margin-bottom: 1%;
    margin-left: 13%;
    text-align: center;
    border-radius: 6px;
}
.buttons {
    padding-top: 8%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    font-size: 1.7em;
}
}

@media screen and (max-width: 767px) {
    .title {
        display: none;
    }
}

@media screen and (max-width: 425px) {
.title {
display: none;
}
.menu {
padding-top: 8%;
}

.item {
font-size: 1.7em;
margin-top: 8px;
margin-bottom: 2%;
background-color: #222;
box-shadow: 2px 2px 6px -1px #000;
text-align: center;
border-radius: 6px;
}
.buttons {
padding-top: 12%;
padding-bottom: 5%;
margin-left: 15%;
display: flex;
align-items: center;
justify-content: center;
}

.buttons button {
font-size: 1.3em;
}
}

