header#main-header {
    width: 100%;
    background:#8247A1;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header#main-header .header-content {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 30px;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

header#main-header .header-content .logo {
    display: flex;
    align-items: center;
    width: 100%;
}

header#main-header .header-content .logo img {
    width: 100px;
}

header#main-header .header-content .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2.4em;
    font-weight: 600;
    margin-right: 4%;
}

header#main-header .header-content .logo hr {
    padding: 0.5px;
    background-color: #fff;
}

header#main-header .header-content .info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: -7%;
}

header#main-header .header-content .info a {
    font-size: 1.75em;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    border-bottom: 1.5px solid transparent;
    transition: all 0.4s ease-in-out;
}

header#main-header .header-content .info a:hover {
    border-bottom: 1.5px solid #fff;
}

header#main-header .header-content .info a:last-child {
    margin-right: 0px;
}

header#main-header .header-content .login {
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 1.5em;
    transition: all 0.3s ease-in;
    box-shadow: 1px 1px 6px -1px #272727;
}

header#main-header .header-content .login:hover {
    background-color: #272727;
    box-shadow: 1px 1px 8px 0px #272727;
}